h1{
    color:darkviolet;
    font-family: Impact;
    font-size: 38px;
}
span{
    font-family: Impact;
    text-decoration: underline;
    font-size: 24px;
}
.pagelink{
    text-decoration: none;
    font-family: Times New Roman;
}
#textlinkN{
    color: rgb(0, 70, 3);
}
#textlinkP{
    color:rgb(8, 228, 0);
}
.buttonlink{
    background-color: black;
    color:white;
    font-family: Impact;
    outline-style: none;
    border: none;
    border-radius: 50%;
}
